<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding Activity</title>
    <style>
        td,th{border: 1px solid black;}
    </style>
</head>
<body>
<center>
    <h1>Add Study Plan</h1>
    <form action="" method="post">
        <table>
            <tr>
                <th>UserID</th>
                <th>Course</th>
                <th>Study Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Study Field</th>
            </tr>
            <tr>
                <td> <input type="text" name="UserID" id="SD_UserID" value="<%= data.UserID %>" /> </td>
                <td> <input type="text" name="Course" id="SD_Course" value="<%= data.Course %>" /> </td>
                <td> <input type="text" name="StudyDate" id="SD_StudyDate" value="<%= data.StudyDate %>" /> </td>
                <td> <input type="text" name="startTime" id="SD_startTime" value="<%= data.password %>" /> </td>
                <td> <input type="text" name="endTime" id="SD_endTime" value="<%= data.email %>" /> </td>
                <td> <textarea name="Notes" id="Notes"> </textarea> </td>
                <td>
                    <button name="btn" value="1">send</button>
                </td>
            </tr>
        </table>
    </form>
</center>


</body>
</html>