<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding User</title>
</head>
<body>
<h1>Adding User</h1>
<form action="" method="post">
    <label for="usrs_name">User Name</label>
    <input type="text" name="name" id="usrs_name" value="<%= data.name %>" /> <br><br>

    <label for="usrs_userName">User UserName</label>
    <input type="text" name="userName" id="usrs_userName" value="<%= data.userName %>" /> <br><br>

    <label for="usrs_password">User Password</label>
    <input type="text" name="password" id="usrs_password" value="<%= data.password %>" /> <br><br>

    <label for="usrs_email">User email</label>
    <input type="text" name="email" id="usrs_email" value="<%= data.email %>" /> <br><br>

    <label for="usrs_name">User ID</label>
    <input type="text" name="StudentID" id="usrs_StudentID" value="<%= data.StudentID %>" /> <br><br>

    <br>
    <label for="typeID">User Type </label>
    <select name="typeID" id="typeID">
        <option value="1">Admin</option>
        <option value="2">Lecturer</option>
        <option value="3">Student</option>
    </select>
    <br>

    <button name="btn" value="1">send</button>
</form>
</body>
</html>